

@font-face {
  font-family: 'shangrila';
  src: url('assets/fonts/shanlnc.woff2') format('woff2'),
       url('assets/fonts/shanlnc.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
