

/* Fonts
--------------------------------- */

body {
  font-family: $font-body--main;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $font-header--main;
}

/* Links
--------------------------------- */

a {
  cursor: pointer;

  &:not([class*="link"]) {
    &, &:hover {
      color: $body-text--main;
    }
  }

  &, &:hover {
    text-decoration: none;
  }
}
