

/* Text
--------------------------------- */

body {
  color: $body-text--main;
  font-family: $font-body--main;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $font-header--main;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

.content {
  h1, h2, h3, h4, h5, h6, p {
    margin-bottom: $content-gutter;
  }
}

/* Links
--------------------------------- */

a {
  cursor: pointer;

  &, &:hover {
    text-decoration: none;
  }

  p & {
    transition: 0.3s ease all;
    color: $color--primary;

    &:hover {
      color: $color--primary--hover;
    }
  }
}
