

/* Text
--------------------------------- */

body {
  color: $body-text--main;
  font-family: $font-body--main;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $font-header--main;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

.content {
  h1, h2, h3, h4, h5, h6, p,
  .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: $content-gutter;
  }
}

h1 { font-size: rem($h1-size); }
.h1 { font-size: rem($h1-size) !important; }
h2 { font-size: rem($h2-size); }
.h2 { font-size: rem($h2-size) !important; }
h3 { font-size: rem($h3-size); }
.h3 { font-size: rem($h3-size) !important; }
h4 { font-size: rem($h4-size); }
.h4 { font-size: rem($h4-size) !important; }
h5 { font-size: rem($h5-size); }
.h5 { font-size: rem($h5-size) !important; }
h6 { font-size: rem($h6-size); }
.h6 { font-size: rem($h6-size) !important; }

h1, h2, h3, h4, h5, h6,
p, ul, li {
  .u-content & {
    margin-bottom: $content-gutter;
  }
}

/* Links
--------------------------------- */

a {
  cursor: pointer;

  &, &:hover {
    text-decoration: none;
  }

  p & {
    transition: 0.3s ease all;
    color: $color--primary;

    &:hover {
      color: $color--primary--hover;
    }
  }
}
