

/* Margin
--------------------------------- */

.u-mb {
  margin-bottom: $grid-gutter;
}

.u-mb-0 {
  margin-bottom: 0;
}

.u-mt {
  margin-top: $grid-gutter;
}

.u-mt-0 {
  margin-top: 0;
}

.u-mr {
  margin-right: $grid-gutter;
}

.u-mr-0 {
  margin-right: 0;
}

.u-ml {
  margin-left: $grid-gutter;
}

.u-ml-0 {
  margin-left: 0;
}

/* Lists
--------------------------------- */

.u-unlist {
  list-style: none;
}

/* Text
--------------------------------- */

.u-text-center {
  text-align: center;
}

.u-uppercase {
  text-transform: uppercase;
}

/* Backgrounds
--------------------------------- */

.u-bg-overlay {
  background-color: $color-transparent-black;
}

/* Visibility
--------------------------------- */

.u-hidden {
  display: none !important;
}
