

/* Margin
--------------------------------- */

.u-mb {
  margin-bottom: $grid-gutter;
}

.u-mb-0 {
  margin-bottom: 0;
}

.u-mb-content {
  margin-bottom: $content-gutter;
}

.u-mt {
  margin-top: $grid-gutter;
}

.u-mt-0 {
  margin-top: 0;
}

.u-mt-content {
  margin-top: $content-gutter;
}

.u-mr {
  margin-right: $grid-gutter;
}

.u-mr-0 {
  margin-right: 0;
}

.u-ml {
  margin-left: $grid-gutter;
}

.u-ml-0 {
  margin-left: 0;
}

/* Lists
--------------------------------- */

.u-unlist {
  list-style: none;
}

/* Text
--------------------------------- */

.u-text-center {
  text-align: center;
}

.u-uppercase {
  text-transform: uppercase;
}

/* Backgrounds
--------------------------------- */

.u-bg-overlay {
  background-color: $color-transparent-black;
}

.u-bg-dark {
  background-color: $body-bg--dark;
  color: $body-text--light;

  p a {
    color: $color--secondary;

    &:hover {
      color: $color--secondary--hover;
    }
  }
}

.u-bg-error {
  background-color: $color--error;
}

.u-bg-success {
  background-color: $color--success;
}

.u-bg-warning {
  background-color: $color--warning;
}

.u-bg-orange {
  background-color: $color-orange;
}

/* Visibility
--------------------------------- */

.u-hidden {
  display: none !important;
}
