
.button {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  padding: 18px 24px;
  font-size: 14px;
  background-color: $color--primary;
  border-width: 0;
  border-style: solid;
  border-color: $color--primary;
  border-radius: $border-radius;
  transition: 0.3s ease all;
  font-weight: bold;
  letter-spacing: 1.2px;
  white-space: nowrap;
  // keep the icon in the middle when flex button
  align-items: center;

  span,
  .icon {
    pointer-events: none;
    flex-grow: 1;
  }

  &, &:hover {
    color: $body-text--light;
  }

  &:hover {
    background-color: $color--primary--hover;
    border-color: $color--primary--hover;
  }

  &--plain {
    cursor: pointer;
    padding: 0;
    border: none;
    line-height: 0;
  }

  &--primary,
  &--secondary {
    .icon {
      vertical-align: middle;
      margin-right: 10px;
      fill: $body-text--light;
    }
  }

  &.button--hollow {
    color: $color--primary;

    &:hover {
      color: $color--primary--hover;
    }
  }

  &--secondary {
    background-color: $color--secondary;
    border-color: $color--secondary;

    &, &:hover {
      color: $color-black;
    }

    &:hover {
      background-color: $color--secondary--hover;
      border-color: $color--secondary--hover;
    }

    &.button--hollow {
      color: $color--secondary;

      &:hover {
        color: $color--secondary--hover;
      }
    }
  }

  &--light {
    background-color: $body-bg--main;
    border-color: $body-bg--main;

    &, &:hover {
      color: $color-black;
    }

    .icon {
      fill: $color-black;
    }

    &:hover {
      background-color: $color-off-white;
      border-color: $color-off-white;
    }

    &.button--hollow {
      color: $color--primary;

      &:hover {
        color: $color--primary--hover;
      }
    }
  }

  &--hollow {
    border-width: 2px;
    padding: 16px 22px;

    &, &:hover {
      background-color: transparent;
    }
  }

  &--small {
    font-size: rem(12);
    padding: 10px 16px;

    &.button--hollow {
      padding: 8px 14px;
    }
  }

  &--jumbo {
    font-size: rem(32);
    padding: 25px 55px;
    text-transform: uppercase;
    background-color: $color-dark-red;
    color: $color--secondary;

    &:hover {
      background-color: lighten($color-dark-red, 5%);
    }
  }

  &--full {
    width: 100%;
    position: relative;
  
    .icon {
      position: absolute;
      top: 50%;
      left: 12px;
      transform: translateY(-50%);
      fill: $body-text--light;
    } 
  }

  &--text {
    color: $color--primary;
    padding: 0;
    letter-spacing: normal;

    .icon {
      fill: $color--primary;
      vertical-align: middle;

      &:not(:last-child) {
        margin-right: 4px;
      }

      &:not(:first-child) {
        margin-left: 4px;
      }
    }

    &, &:hover {
      background-color: transparent;
    }

    &:hover {
      color: $color--primary--hover;

      .icon {
        fill: $color--primary--hover;
      }
    }
  }

  &--flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &--inline {
    padding: 12px 16px;
  }

  &--icon {
    padding: 10px;
    border-radius: 50%;

    .icon {
      margin: 0;
    }

    &:not(.button--primary) {
      padding: 0;

      .icon {
        fill: $color-black;
      }

      &, &:hover {
        background-color: transparent;
      }
  
      &:hover {
        .icon {
          fill: $color--primary;
        }
      }
    }
  }

  &--wysiwyg {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    height: 30px;
    width: 30px;

    .icon {
      fill: $color-black;
    }

    &, &:hover {
      background-color: transparent;
    }

    &:hover .icon {
      fill: $color--primary--hover;
    }

    &.is-active .icon {
      fill: $color--primary;
    }
  }

  &[disabled] {
    &, &:hover {
      color: $color-white;
      border-color: $color-light-grey;
      background-color: $color-light-grey;
    }

    &.button--hollow,
    &.button--text {
      &, &:hover {
        background-color: transparent;
        color: $color-light-grey;
      }
    }
  }
}
