
.button {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  padding: 18px 24px;
  font-size: 14px;
  background-color: $color--primary;
  border-width: 0;
  border-style: solid;
  border-color: $color--primary;
  transition: 0.3s ease all;
  font-weight: bold;
  letter-spacing: 1.2px;

  &, &:hover {
    color: $color-white;
  }

  &:hover {
    background-color: $color--primary--hover;
    border-color: $color--primary--hover;
  }

  &.button--hollow {
    color: $color--primary;

    &:hover {
      color: $color--primary--hover;
    }
  }

  &--secondary {
    background-color: $color--secondary;
    border-color: $color--secondary;

    &, &:hover {
      color: $color-black;
    }

    &:hover {
      background-color: $color--secondary--hover;
      border-color: $color--secondary--hover;
    }

    &.button--hollow {
      color: $color--secondary;

      &:hover {
        color: $color--secondary--hover;
      }
    }
  }

  &--hollow {
    border-width: 2px;
    padding: 16px 22px;

    &, &:hover {
      background-color: transparent;
    }
  }

  &--small {
    font-size: rem(12);
    padding: 10px 16px;

    &.button--hollow {
      padding: 8px 14px;
    }
  }

  &--text {
    color: $color--primary;
    padding: 0;

    &, &:hover {
      background-color: transparent;
    }

    &:hover {
      color: $color--primary--hover;
    }
  }

  &[disabled] {
    &, &:hover {
      color: $color-white;
      border-color: $color-light-grey;
      background-color: $color-light-grey;
    }

    &.button--hollow,
    &.button--text {
      &, &:hover {
        background-color: transparent;
        color: $color-light-grey;
      }
    }
  }
}
