
.card {
  display: block;
  width: 100%;
  box-shadow: $drop-shadow-light;
  transition: 0.3s ease all;

  &, &:hover {
    color: $body-text--main;
  }

  &:hover {
    box-shadow: $drop-shadow;
  }

  &--cta {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .button {
      width: 100%;
      margin-top: 20px;
    }
  }

  &__content {
    padding: 20px;
    background-repeat: no-repeat;

    .card--quest & {
      background-position: calc(50% + 40px) 20px;
      background-image: url('/images/bg-QuestCard.svg');
    }
  }

  &__title,
  &__status {
    margin: 0 0 14px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__status {
    color: $color-light-grey;
  }

  &__description {
    margin: 0;
  }

  &--new-game {
    min-height: 300px;
    background-image: url('/images/bg-NewGame.jpg');
  }
}
