
.controls {
  display: flex;
  justify-content: space-between;

  &--right {
    justify-content: flex-end;

    & > *:not(:first-child) {
      margin-left: $grid-gutter / 2;
    }
  }

  &:not(:first-child) {
    margin-top: $content-gutter;
  }

  &__group {
    display: flex;
    
    &:only-child {
      margin-left: auto;
    }

    &--left {
      align-self: flex-start;
    }

    &--right {
      align-self: flex-end;
    }

    & > * {
      margin-left: 0;
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
