
.content-loader {
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__title {
    font-size: rem(20);
    text-align: center;
    margin-bottom: 10px;
  }

  .icon {
    animation: rotating 2s linear infinite;
  }
}
