

// color pallette
$color-white: #fff;
$color-black: #000;

$color-tan: #dbdfac;
$color-red: #db162e;
$color-dark-red: #410001;

$color-transparent-black: rgba(0, 0, 0, 0.6);
$color-transparent-red: rgba($color-dark-red, 0.14);

// color scheme
$body-bg--main: $color-white;
$body-bg--alt: $color-tan;
$body-bg--dark: $color-dark-red;

$transparent-overlay: $color-transparent-black;

// fonts
$body-text--main: $color-black;

// typography
$text-color-navbar-link: $color-tan;

// media queries
$break--tablet: 768px;
$break--desktop: 1024px;

// grid
$grid-gutter: 30px;
