

// color pallette
$color-white: #fff;
$color-black: #000;

$color-tan: #dbdfac;
$color-red: #db162e;
$color-dark-red: #410001;

$color-transparent-black: rgba(0, 0, 0, 0.6);
$color-transparent-red: rgba($color-dark-red, 0.14);

// color scheme
$body-bg--main: $color-white;
$body-bg--alt: $color-tan;
$body-bg--dark: $color-dark-red;
$body-bg--darkest: darken($color-dark-red, 5%);

$transparent-overlay: $color-transparent-black;

// fonts
$font-header--main: 'shangrila', serif;
$font-body--main: 'Oxygen', sans-serif;

// typography
$body-text--main: $color-black;

$navbar-text--link: $color-tan;
$text-color-navbar-link: $color-tan;

// media queries
$break--tablet: 768px;
$break--desktop: 1024px;

// grid
$grid-gutter: 30px;
